@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

body {
    background-color: #373737;
    color: #f5f5f5;
    font-family: 'Mochiy Pop P One', sans-serif;
}

/* ... HEADER ... */

/* header {
} */

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 4rem 0 8rem;
}

h1 span, h1 .fa-book-open {
    color: #008080
}

.fa-book-open {
    margin: 0 0.5em;
}

.user-account {
    display: flex;
    justify-content: end;
    margin: 1rem;
    font-size: 1.5rem;
}

.user-account .fa-user {
    cursor: pointer;
}


/* ... TABLE ... */

table {
    width: 80%;
    border-collapse: collapse;
    margin: 3em auto;
}

table thead, table tbody {
    border-top: 2px solid #808080; 
}

table th {
    text-align: left;
    padding: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

th i.fa-sort-down {
    vertical-align: text-top;
}

th i.fa-sort-up {
    vertical-align: text-bottom;
}

table td {
    padding: 1.1em;
    color: #c2c2c2;
    border-bottom: 1px solid rgba(128, 128, 128, .5);
}

table td:last-of-type {
    text-align: right;
}

table button {
    border-radius : 0.3em;
    border: none;
    cursor: pointer;
    padding: 0.5em 0.8em;
    font-size: 1.2em;
    color: #f5f5f5;
}

table button:has(.fa-trash-alt) {
    background-color:#b65353;
}

table button:has(.fa-pen) {
    background-color: #7b7d7b;

}

#getForm {
    display: block;
    width: 4.5rem;
    height: 1rem;
    line-height: 1rem;
    float: right;
    border-radius : 0.3em;
    border: none;
    background-color: #008080;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
}


.callToAction {
    transition: 0.2s ease-out;
}    
.callToAction:hover {
    filter: brightness(90%);
}
.callToAction:active {
    transform: scale(0.85);
}


/* ... FORM ... */


form {
    display: none;
    width: 50%;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form label {
    margin-bottom: 1rem;
}

form input {
    width: 50%;
    display: block;
    margin-bottom: 1rem;
    padding: 0.6em 0.4em;
    outline: none;
    font-size: 1rem;
    color: #808080;
    font-weight: 600;
}
 
#addBook {
    margin-top: 1em;
    padding: 0.6em 1em;
    font-size: 1.3em;
    font-weight: 600;
    border-radius : 0.3em;
    border: none;
    background-color: #008080;
    color: #f5f5f5;
    cursor: pointer;
}


.modal {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b65353;
    color: #f5f5f5;
    z-index: 100;
}

.lessOpacity {
    opacity: 0.1;
}